@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: linear-gradient(90deg, #ffff, 21px, transparent 1%) center,
    linear-gradient(#ffff 21px, transparent 1%) center, #1e293b;
  background-size: 22px 22px;
  font-family: "Poppins", sans-serif;
}
